* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	color: slateblue;
	margin: 20px auto 10px;
	text-align: center;
}

.tip-calculator {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

div {
	margin-bottom: 10px;
}

label {
	display: inline-block;
	width: 150px;
}

input[type='text'] {
	padding: 12px 20px;
	margin: 10px 0;
	border: 1px solid #717070;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.03);
	border-radius: 10px;
	width: 100px;
}

button {
	margin-top: 10px auto 10px;
	padding: 10px;
	border: none;
	background-color: rgb(51, 124, 99);
	color: #fff;
	font-weight: 600;
	border-radius: 5px;
}

#per-person {
	font-weight: bold;
	font-size: 1.3rem;
	padding-top: 1em;
}
